.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-top: 3rem;
}

@media (max-width: 480px) {
  .container {
    padding-top: 1rem;
  }
}
