.main {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-top: 3rem;
}

.article {
  margin: 10px 0 0 0;
}

.article_inner {
  margin-bottom: 15px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article_header {
  margin-bottom: 3px;
}

.name {
  font-size: 0.85rem;
}

.article_title {
  text-decoration: none;
  font-weight: 700;
  line-height: 1em;
  font-size: 1.2em;
  color: var(--color-text-primary);
  transition: all 100ms linear;
}

.article_date {
  white-space: nowrap;
  font-size: 0.9rem;
  transition: all 100ms linear;
}

.time {
  white-space: nowrap;
}

.article_footer {
  font-size: 0.85em;
  padding: 0em 0;
  line-height: 1.4em;
  margin: 0;
}

.article_tags {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}

.tags_first {
  float: left;
  color: var(--color-text-tags);
  transition: all 100ms linear;
}

.tags_item {
  float: left;
  margin-left: 5px;
  color: var(--color-text-tags);
  transition: all 100ms linear;
}
