@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.618;
  font-weight: bold;
}

body,
body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ffa7c4;
  --color-bg-primary: #15232d;
  --color-border-primary: #949494;
  --color-bg-secondary: #172630;
  --color-bg-item: #172630;
  --color-border-secondary: rgba(255, 255, 255, 0.2);
  --color-box-shadow: rgba(255, 255, 255, 0.028);
  --color-text-tags: #939393;
}

body[data-theme="light"] {
  --color-text-primary: #28211b;
  --color-text-secondary: #1ed760;
  --color-bg-primary: #fff;
  --color-border-primary: #949494;
  --color-bg-secondary: #172630;
  --color-border-secondary: rgba(0, 0, 0, 0.2);
  --color-box-shadow: rgba(0, 0, 0, 0.05);
  --color-text-tags: #939393;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
}
