@import "./variables";

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.618;
  font-weight: bold;
}

body {
  background-color: $db;
  color: $dc;
}
