.header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header_content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}

.header_name {
  flex: 0 0 75%;
  max-width: 75%;
}

.header_name_text {
  font-size: 2.75rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  margin-bottom: 0;
  transition: all 100ms linear;
}

.header_name_specializaton {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0;
  color: var(--color-text-primary);
  transition: all 100ms linear;
}

.header_spoiler {
  display: flex;
  height: 1.5rem;
  width: 13rem;
  margin-top: 1rem;
  color: var(--color-bg-primary);
  background-color: var(--color-bg-primary);
}

.header_spoiler:hover {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  transition: all 100ms linear;
}

.header_contacts {
  display: flex;
  border-left: 1px solid var(--color-border-secondary);
  font-size: 1rem;
  transition: all 100ms linear;
}

.header_contacts_ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
}

.header_contacts_li {
  margin-bottom: 0.5rem;
  display: flex;
  text-align: -webkit-match-parent;
}

.header_link {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-text-primary);
  transition: all 100ms linear;
}

.header_svg {
  overflow: visible;
  width: 1.25em;
  vertical-align: -0.225em;
  margin-right: 0.5rem;
  font-size: 1.3333333333em;
  line-height: 0.75em;
  height: 1em;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid var(--color-border-secondary);
  margin-right: -15px;
  margin-left: -15px;
  transition: all 100ms linear;
}

@media (max-width: 480px) {
  .header_content {
    flex-direction: row;
  }

  .hr {
    margin-right: 52px;
    margin-top: 0;
  }

  .header_contacts {
    margin-top: 1rem;
    border-left: 0;
    border-top: 1px solid var(--color-border-secondary);
  }

  .header_contacts_ul {
    padding-inline-start: 0;
  }
}

@media (max-width: 290px) {
  .hr {
    margin-right: -29px;
  }
}
