.main {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 4rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.175);
  padding: 3rem;
}
