.main {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  margin-top: 6.125rem;
  padding: 4rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.05);
  padding: 3rem;
  background-color: #15232d;
  color: #e3e3e3;
  border-radius: 1%;
}
