$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

.wrapper {
  font-family: Homenaje, sans-serif;
  color: #e3e3e3;
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__row {
    opacity: 0;
    transform: translateY(-10px);
    transition-property: opacity, transform;
    &.is_shown {
      opacity: 1;
      transform: translateY(0);
      transition-duration: 1s;
      transition-timing-function: $easeOutCubic;
      @for $i from 0 through 4 {
        &:nth-of-type(#{$i + 1}) {
          transition-delay: $i * 0.25s + 1s;
        }
      }
    }
  }
}

.name {
  font-size: 100px;
  line-height: 1;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-variant: all-small-caps;

  a {
    font-size: 50px;
    line-height: 1.25;
    text-decoration: none;
    padding: 0 10px;
    cursor: pointer;
    color: #e3e3e3;
    letter-spacing: 0.15em;
  }
}

.github {
  width: 27px;
  height: 25px;
  display: inline-block;
  fill: #e3e3e3;
  transition: fill 0.4s $easeOutCirc;
}

.github:hover {
  fill: #ffa7c4;
  transition: fill 0.4s $easeOutCirc;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 50;
  opacity: 0;
  transition-property: opacity, transform;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%) scale(1.5) rotate(-5760deg);

  &.is_shown {
    opacity: 1;
    transform: translate(-50%, -95%) scale(1);
    transition-duration: 1s;
    transition-timing-function: $easeOutCubic;

    @for $i from 0 through 4 {
      &:nth-of-type(#{$i + 1}) {
        transition-delay: $i * 0.1s + 1.5s;
      }
    }
  }
}

.link {
  display: inline-block;
  position: relative;

  &__label {
    display: inline-block;
    position: relative;
    z-index: 2;
  }

  &__bg {
    height: 2px;
    width: 95%;
    display: block;
    position: absolute;
    top: 90%;
    right: 0;
    left: 0;
    background-color: red;
  }

  @keyframes openTextLinkBar {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
    100% {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  @keyframes closeTextLinkBar {
    0% {
      transform: scaleX(1);
      transform-origin: right;
    }
    100% {
      transform: scaleX(0);
      transform-origin: right;
    }
  }

  &__label {
    transition-duration: 0.4s;
    transition-timing-function: $easeOutCirc;
  }

  &__bg {
    transform: scaleX(0);
    animation-name: closeTextLinkBar;
    animation-duration: 0.4s;
    animation-timing-function: $easeOutCirc;
    animation-fill-mode: both;
  }

  &:hover & {
    &__bg {
      animation-name: openTextLinkBar;
    }
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 70px;
  }

  .links a {
    font-size: 35px;
  }
}
