a {
  text-decoration: none;
  color: var(--color-text-secondary);
}

p {
  line-height: 1.4em;
  font-weight: 300;
  margin: 1.4em 0;
  font-size: 17px;
}

h1 {
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

h2,
h3,
h4,
h5 {
  font-weight: 300;
  line-height: 1.5;
}

code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 85%;
  display: block;
  overflow-x: auto;
  overflow-wrap: break-word;
  background: var(--color-code-bg);
  color: var(--color-code);
  padding: 0.5em;
}

hr {
  padding: 0;
  margin: 24px 0;
  border: 0;
  border-top: 1px solid var(--color-border-primary);
}

li {
  line-height: 1.4em;
  font-weight: 300;
  margin: 1.1em 0;
  font-size: 17px;
}
