.bar {
  height: 4px;
  background: var(--color-border-primary);
  position: fixed;
  margin-left: -1rem;
  margin-top: 1rem;
}

// TODO
// UPDATE OPIT
// UPDATE CV
// style mdx directly
// remove unset classes, and attrs
// design changes (update description of projects)
// new host for projects that was on heroku
