.error {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-variant: small-caps;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: all 100ms linear;
}

.h1 {
  display: inline-block;
  border-right: 1px solid var(--color-border-secondary);
  margin: 0;
  margin-right: 20px;
  padding: 10px 23px 10px 0;
  font-size: 34px;
  vertical-align: top;
  transition: all 100ms linear;
}

.text {
  text-align: left;
  line-height: 49px;
  height: 49px;
}

.h2 {
  font-size: 24px;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  .h1 {
    font-size: 25px;
  }
  .h2 {
    font-size: 15px;
  }
}
