.main {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-top: 3rem;
}

.article {
  margin: 10px 0 0 0;
}

.article_inner {
  margin-bottom: 15px;
  overflow: hidden;
}

.article_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article_header {
  margin-bottom: 3px;
}

.article_title {
  text-decoration: none;
  font-weight: 600;
  line-height: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  color: var(--color-text-primary);
  transition: all 100ms linear;
}

.article_date {
  white-space: nowrap;
  font-weight: 600;
  font-size: 1em;
  font-style: italic;
  transition: all 100ms linear;
}

.article_tags {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1rem;
  font-style: italic;
}

.tags_item {
  float: left;
  margin-right: 5px;
  color: var(--color-text-tags);
  transition: all 100ms linear;
}

@media (max-width: 480px) {
  .article_title {
    font-size: 1rem;
  }

  .article_date {
    font-size: 0.7rem;
  }

  .article_footer {
    font-size: 0.6rem;
  }
}
