.wrapper {
  flex: auto;
  max-width: 25%;
  border-left: 1px solid var(--color-border-secondary);
  font-size: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  transition: all 100ms linear;
}

.section {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.section_header {
  text-transform: uppercase;
  position: relative;
  padding-left: 1rem;
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
  color: var(--color-text-secondary);
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-style: italic;
  transition: all 100ms linear;
}

.section_header::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 100%;
  background: var(--color-text-secondary);
  position: absolute;
  left: 0;
  top: 0;
  transition: all 100ms linear;
}

.section_ul {
  font-size: 1rem;
  line-height: 1.625;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

.section_li {
  margin-bottom: 1rem;
}

.nested_ul {
  margin: 0;
  list-style: disc;
  padding: 1em 1em 0 1em;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.dates {
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .wrapper {
    border-left: 0;
    padding-left: 0.2rem;
    border-bottom: 1px solid var(--color-border-secondary);
    flex: 0;
    max-width: 100%;
  }
}
